/* Search Components Mobile View */
.search_component {
    padding: 10px;
    display: none;
}

.dropdownSearch {
    margin-left: 50px;

}

#searchDropdown {
    display: block;
}

.search_item_result {
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.search_item_result:hover {
    background-color: #e7e7e7;
}


.cart_dropdownCustom {
    min-width: 400px;
    max-width: 450px;
    background-color: #F3F3F3;
}

.customCartDropdownHeading {
    font-size: 12px;
    color: #4D4D4D;
}

.customCartDropdownItemImage {
    width: 50px;
    display: flex;
    height: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.customDropdownCartButton1 {
    padding: 5px;
    border: 1px solid var(--green);
    width: 100%;
    display: block;
    text-align: center;
    color: var(--green);
    font-size: 12px;
    font-weight: 400;
}

.customDropdownCartButton2 {
    padding: 5px;
    background-color: var(--green);
    border: 1px solid var(--green);
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.registerProfileDropdown {
    background-color: #F3F3F3;
}

.dropdownSearch ul {
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 0px;
    filter: drop-shadow(1px 2px 1px rgb(218, 218, 218));
    background-color: #F3F3F3;
    border-top: 1px solid #B8B8B8;
}

.dropdownSearch ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    /* margin-bottom: 15px; */
}

.dropdownSearch ul li a h1 {
    font-size: 12px;
    font-weight: 400;
    color: #4D4D4D;
    margin: 0px;
}

.dropdownSearch ul h2 {
    font-size: 12px;
    font-weight: 400;
    color: #4D4D4D;
}

.mainlogo {
    cursor: pointer;
}

.allCategoriesCustomButton {
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: #253D4E;
    background-color: #F3F3F3;
}

.SerachwithCategoriesLists {
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: #253D4E;
    background-color: #F3F3F3;
    border-radius: 3px 0px 0px 3px;
}

.searchDividerIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 27%;
}

.SerachwithCategoriesLists:focus {
    outline: none;
}

.allCategoriesCustomButton:hover+.allCategoriesCustomButtonContent,
.allCategoriesCustomButtonContent:hover {
    display: block;
    opacity: 1;
}

.allCategoriesCustomButtonContent {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 2px gray);
    transition: all 0.3s ease;
}

.allCategoriesCustomButtonContent li {
    padding: 7px;
    color: gray;
    font-weight: 300;
    font-family: Quicksand;
    transition: all .2s ease-in-out;
}

.allCategoriesCustomButtonContent li:hover {
    color: black;
    font-weight: 600;
}

.mycartCustom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.mycartCustomHeading1 {
    font-size: 12px;
    font-weight: 500;
    font-family: Quicksand;
    color: #253D4E;
    margin: 0px;
}

.mycartCustomHeading2 {
    font-size: 12px;
    font-weight: 500;
    font-family: Quicksand;
    color: #53B175;
    margin: 0px;
}

.wislistHeading {
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.loginheadingNav {
    font-size: 16px;
    font-weight: 600;
    font-family: Quicksand;
    color: #253D4E;
}

.whishlist_button {
    align-self: center;
}

.main_navbar {
    padding: 15px;
}

.NotificationIcon {
    border: none;
    background: none;
    font-size: 20px;
}

.NotificationContent {
    display: none;
    position: absolute;
    top: 40px;
    background-color: white;
    padding: 10px;
    width: 300px;
    filter: drop-shadow(2px 4px 6px rgb(223, 222, 222));
    z-index: 10;
    height: 150px;
    overflow-y: auto;
}

.NotificationContent::-webkit-scrollbar {
    width: 6px;
    border: none;
    background-color: #ffffff;
}

.NotificationMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
    padding: 10px;
    gap: 10px;
}

.notification_image {
    width: 20%;
}

.notification_content {
    width: 80%;
}

.notification_content h1 {
    font-size: 15px;
    font-weight: 800;
    font-family: poppins;
    margin: 0px;
}

.notification_content h2 {
    font-size: 12px;
    font-weight: 300;
    font-family: poppins;
    margin: 0px;
}

.wishlist_heading {
    font-size: 30px;
    margin: 0%;
    font-family: 'Quicksand';
}

.cart_heading {
    font-size: 30px;
    margin: 0%;
}

.cart_button {
    align-self: center;
}

.searchButtonCate {
    margin-left: 50px;
    flex-wrap: nowrap !important;
}

.search_button {
    align-self: center;
    width: 50%;
}

.profile_image {
    align-items: center;
    /* margin-right: -50px; */
}

.ul_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-right: 0px !important;
}

.user_profile_image_nav {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.logout_button_drop {
    border: none;
    background-color: #F3F3F3;
    margin-left: 15px;
}

.search_inp {
    background-color: #F3F3F3;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand';
    color: #ADADAD;
    width: 65%;
    padding-left: 15px;
}

.search_inp:focus {
    background-color: #F3F3F3;
    outline: none;
}

.category_btn {
    background-color: #F3F3F3;
    border-radius: 3px 0px 0px 3px !important;
}

.category_btn:hover {
    background-color: #d8d4d4;
}

.search_btn {
    background-color: var(--green);
    border-radius: 0px 3px 3px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_btn:hover {
    background-color: var(--hovergreen) !important;
}

/* Mobile View */
.mobile_cart_profile {
    display: none;
}

.cart_badge {
    width: 5px;
    height: 5px;
    font-size: 9px;
    top: 10px;
    left: 26px;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    background-color: var(--green);
    border-radius: 50%;
    padding: 7px;
}

.wishlist_badge {
    width: 5px;
    height: 5px;
    font-size: 9px;
    top: 13px;
    right: -15px;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    background-color: var(--green);
    border-radius: 50%;
    padding: 7px;
}

.notification_badge {
    width: 5px;
    height: 5px;
    font-size: 9px;
    top: 7px;
    right: -15px;
    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    background-color: var(--green);
    border-radius: 50%;
    padding: 7px;
}

.SideBarOpenIcon {
    display: none;
}

@media screen and (max-width:768px) {
    .search_component {
        display: block;
    }

    .dropdownSearch {
        margin-left: 0px;
    }

    .dropdownSearch ul {
        width: 100%;
    }

    .NotificationIcon {
        display: none;
    }

    .user_profile_image_nav {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .searchButtonCate {
        margin-left: 0px;
    }

    .search_button {
        display: none;
    }

    .profile_image {
        margin-left: 0px;
    }

    .mobile_cart_profile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .mobile_image_profile {
        text-align: end;
    }

    .wishlist_heading {
        display: none;
    }

    .whishlist_button a {
        display: none;
    }

    .cart_heading {
        display: none;
    }

    .cart_button a {
        display: none;
    }

    .profile_image img {
        display: none;
    }

    .profile_image a {
        display: none;
    }

    .main_navbar {
        padding-bottom: 0px !important;
    }

    .searchButtonCate {
        margin-left: 0px;
    }

    .SideBarOpenIcon {
        display: inline-block;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    .search_component {
        display: block;
    }

    .NotificationIcon {
        display: none;
    }

    .search_button {
        display: none;
    }

    .mobile_cart_profile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .mobile_image_profile {
        text-align: end;
    }

    .wishlist_heading {
        display: none;
    }

    .whishlist_button a {
        display: none;
    }

    .cart_heading {
        display: none;
    }

    .cart_button a {
        display: none;
    }

    .profile_image img {
        display: none;
    }

    .profile_image a {
        display: none;
    }

    .main_navbar {
        padding-bottom: 0px !important;
    }

    .searchButtonCate {
        margin-left: 0px;
    }

    .SideBarOpenIcon {
        display: inline-block;
    }
}
